.legalWarning-page .content-part {
    margin: auto;
}

.content-part .legal-warning {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.legal-warning .warning-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.legal-warning .warning-section .warning-heading {
    font-size: 22px;
    font-weight: 400;
    color: var(--green);
    margin-bottom: 1rem;
}

.warning-section .warning-text {
    font-size: 14px;
    font-weight: 400;
    color: rgb(179, 179, 179);
}

.warning-section ol li {
    font-size: 12px;
    font-weight: 400;
    color: var(--black);
}